---
layout: home
---

<h1>One bad apple spoils the bunch.</h1>
<p>In a truly free nation, nobody is above the law. Let's hold our public
servants accountable to the laws we trust them to enforce.</p>

<p>This website will list instances of police brutality which have been
catalogued by <a href="https://github.com/2020PB/police-brutality">the 2020
police brutality organization</a>. To learn how you can help document the
excessive force being used by police officers on our streets, please click
<a href="https://github.com/2020PB/police-brutality/blob/master/CONTRIBUTING.md">here</a></p>

<p>We must demand accountability from our law enforcement officers. It is our
hope that every violent act by a police officer depicted on this website will
be investigated, and that justice is served fairly, in the manner our
constitution demands. We may only truly be free when all people in our country
are equally accountable to our laws.</p>

<h1>{{ site.data.report_pages.size }} Cases of Police Brutality</h1>

<p>Imagine how many go unreported.</p>

<ul>
{% for page in site.data.report_pages %}
<li><a href="{{ page.url }}">
{% if page.city and page.state %}
{{ page.city }},  {{ page.state }} &ndash;
{% else if page.state %}
{{ page.state }} &ndash;
{% else if page.city %}
{{ page.city }} &ndash;
{% else %}
Unknown location &ndash;
{% endif %}
{{ page.title }}
</a>
</li>
{% endfor %}
</ul>

